.service {
  background-color: #0D61A5;
  padding: 10px 30px;
  color: white;
  text-align: left;
  font-weight: bold;
  line-height: 1.4;
}

@media (max-width: 450px) {
  .service {
    width: 100%;
    display: block;
  }

}
