.services {
  padding-top: 17vh;
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
  align-items: stretch;
}

.services img, .services .service {
  width: 48%;
  margin: 1%;
}

@media (max-width: 630px) {
  .services img, .services .service {
    width: 90%;
    margin: 10px auto;
  }
}
