/* todo: remove padding on mobile */

.services {
  padding-top: 17vh;
}

.service.third {
  height: 40vw
}

.first img {
  max-width: 60%;
}

.first .service-card, .third .service-card {
  margin-left: 30px;
}

.second .service-card, .fourth .service-card {
  margin-right: 30px;
}

.second, .fourth {
  flex-direction: row-reverse;
}

@media (max-width: 630px) {
  .service.third {
    height: auto;
  }
  .first .service-card,
  .second .service-card,
  .third .service-card,
  .fourth .service-card {
    margin: auto;
  }
}
